@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-stroke{
    text-shadow: -3px -3px 0 #e0ca00, 3px -3px 0 #e0ca00, -3px 3px 0 #e0ca00, 3px 3px 0 #e0ca00;
}

.line {
    border-top: 3px dashed #ffffff;
            margin: 0 30px;
}

.aslide {
    transition: 0.3s;   
}

.darkerscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
    transition: 0.4s;
}

.bg-banner {
    background-image: url('./img/home/about.jpg');
    height: 40vh;
    background-size: cover;

  }

.custom {
    display: grid;
    grid-template-columns: repeat(4);
    grid-template-areas: 
        "two one one one"
        "three one one one"
        "four one one one"
        "five one one one"
    ;
    gap: 10px;
}

input::placeholder {
    color: #444444; 
}


.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}


@media (max-width:1121px) {
    .custom {
        display: grid;
        grid-template-columns: repeat(5);
        grid-template-areas: 
            "one one one one one"
            "one one one one one"
            "one one one one one"
            "two no three five four"
        ;
    }
}